#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &trans          &trans  &trans  &trans        &trans                                                 &trans       &trans  &trans     &trans    &trans                &trans
&trans  &kp Q           &kp W   &kp E   &kp R         &kp T                                                  &kp Y        &kp U   &kp I      &kp O     &kp P                 &trans
&trans  &kp A           &kp S   &kp D   &kp F         &kp G        &trans                   &trans           &kp H        &kp J   &kp K      &kp L     &lt 1 ENTER           &trans
&trans  &kp Z           &kp X   &kp C   &kp V         &kp B        &trans                   &trans           &kp N        &kp M   &kp COMMA  &kp DOT   &mt RIGHT_SHIFT FSLH  &trans
&trans  &kp LEFT_SHIFT  &trans  &trans  &kp LEFT_WIN  &lt 2 SPACE  &mt DELETE LEFT_CONTROL  &lt 3 BACKSPACE  &lt 4 SPACE  &trans  &trans     &kp RGUI  &lt 5 ESCAPE          &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans     &trans     &trans                  &trans  &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans                  &trans  &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans  &mkp RCLK  &mkp LCLK  &trans  &trans  &trans  &trans  &mkp LCLK  &mkp RCLK  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans
            >;
        };

        NUM {
            bindings = <
&trans  &trans     &trans  &trans  &trans  &trans                         &trans           &trans  &trans  &trans  &trans  &trans
&trans  &kp GRAVE  &kp N7  &kp N8  &kp N9  &kp MINUS                      &kp KP_PLUS      &trans  &trans  &trans  &trans  &trans
&trans  &kp N0     &kp N4  &kp N5  &kp N6  &kp KP_SLASH   &trans  &trans  &kp KP_MULTIPLY  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &kp N1  &kp N2  &kp N3  &kp LS(EQUAL)  &trans  &trans  &kp PERCENT      &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans  &trans  &trans  &trans         &trans  &trans  &trans           &trans  &trans  &trans  &trans  &trans
            >;
        };

        SYMBOL_JIS {
            bindings = <
&trans  &trans            &trans        &trans      &trans                   &trans                             &trans         &trans       &trans         &trans          &trans         &trans
&trans  &kp EXCLAMATION   &kp QUESTION  &kp CARET   &kp LS(INTERNATIONAL_3)  &kp RIGHT_BRACE                    &kp PIPE       &kp AT_SIGN  &kp AMPERSAND  &kp LEFT_BRACE  &kp EQUAL      &trans
&trans  &kp LEFT_BRACKET  &kp HASH      &kp DOLLAR  &kp INT_RO               &kp LS(N8)         &trans  &trans  &kp LS(N9)     &trans       &trans         &kp COLON       &kp SEMICOLON  &trans
&trans  &trans            &trans        &trans      &trans                   &kp RIGHT_BRACKET  &trans  &trans  &kp BACKSLASH  &kp DQT      &kp GRAVE      &kp TILDE       &kp PIPE       &trans
&trans  &trans            &trans        &trans      &trans                   &trans             &trans  &trans  &trans         &trans       &trans         &trans          &trans         &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
